<!DOCTYPE html>

<html>

<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_page_style.css') }}">

	<title>Cloud Computing Image Processing App</title>

</head>

<body>
	<center>
	<h1>Image processing application</h1>

    <br>
    <br>

    <p>To use the website, first upload an image, then choose a filter to edit the image, and lastly see the resultant image and download that it!</p>

    <br>
    <br>

	<div class="container">

        <form action="/index" method="POST" enctype="multipart/form-data">

			<div class="form-group">
	          <label>Upload an image</label>
	          <div class="custom-file">
	            <input type="file" class="custom-file-input" name="image" id="image">
	            <label class="custom-file-label" for="image">Choose an image</label>
	          </div>
	        </div>
	        <input type="radio" id="grayscale" value="grayscale" name="edited">
	        <label for="grayscale">Grayscale</label>
	        <input type="radio" id="blur" value="blur" name="edited">
	        <label for="blur">Blur</label>
	        <input type="radio" id="solar" value="solar" name="edited">
	         <label for="solar">Solar</label>
	        <!-- <button type="submit" class="btn btn-primary">Upload</button> -->
	        <button type="submit" class="btn btn-success" id="btn-predict">Filterize</button>
	    </form>

	</form>
	</div>

    
    <p>Edited and saved pictures ready to download</p>

        <div class="section">
            <div class="container">
                {% for row in photo_urls|batch(3) %}
                <div class="columns">
                    {% for column in row %}
                    <div class="column">
                        <img src="{{ column }}" alt="blah">
                        <button type="button" class="btn btn-primary" id="btn-predict">Download</button >
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </section>
        

	</center>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>

</html>